.box{
    margin: 0 auto;
    padding-top: 100px;
    height: 300px;
    width: 600px;
    border: 2px solid black;
}
.login-with{
    width: 400px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 5px;
    text-align: center;
}